body {
  background-color: lightblue;
}
h1 {
  color: mediumorchid;
}
nav {
  list-style-type: none;
  background-color: lightgreen;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  color: goldenrod;
  padding: 40px;
  font-size: 35px;
}
li {
  display: inline;
  padding: 40px;
}
